server:
  port: 8083

spring:
  datasource:
    url: ${DATABASE_URL:jdbc:mysql://localhost:3306/trendtube}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:password}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true